streamlit>=1.22
pandas>=1.5
numpy>=1.23
regex>=2022.10.31
matplotlib>=3.5
wordcloud>=1.8
deep-translator>=1.10
spacy>=3.5
scipy==1.11.3
scikit-learn>=1.1
imbalanced-learn>=0.10
gensim==4.3.2
pyspark>=3.3
xgboost>=1.7
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
