# app dependencies
streamlit==1.46.1

# numeric + ML 
numpy==1.23.5
scipy==1.9.3
pandas==2.2.5
scikit-learn==1.2.2
imbalanced-learn==0.10.1
xgboost==1.7.6

# NLP + translation
deep-translator==1.11.4
regex==2022.10.31
spacy==3.5.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl

# text processing
gensim==4.4.0
wordcloud==1.8.2.2

# OPTIONAL: nếu bạn KHÔNG cần pyspark trên Cloud, xóa dòng này
pyspark==3.4.1
